/* b-project
================================================================================*/

.b-project-list {
	.row-flex();
	margin-bottom: 67px;
}

.project {
		&__item {
			.col();
			.col-3();
			color: @color-white;
		}
		&__mark {
			font-size: 15px;
			color: #b7ccf7;
			line-height: 1.5;
			margin-bottom: 10px;
		}
		&__title {
			border-bottom: 2px solid @color-blue-light;
			padding-bottom: 20px;
			margin-bottom: 20px;
			font-family: @font-main-bold;
			font-size: 18px;
			min-height: 80px;
			line-height: 1.5;
		}
		&__text {
			font-size: 16px;
			line-height: 1.625;
		}

}
