/* b-project
================================================================================*/

.b-project-list {
	.row-flex();
	margin-bottom: 60px;
	margin-left: -30px;
	margin-right: -30px;
}

.project {
		&__item {
			.col();
			.col-3();
			color: @color-white;
		}
		&__mark {
			font-size: 15px;
			color: #b7ccf7;
			line-height: 1.5;
			margin-bottom: 4px;
		}
		&__title {
			border-bottom: 2px solid @color-blue-light;
			padding-bottom: 0px;
			margin-bottom: 15px;
			font-family: @font-main-bold;
			font-size: 18px;
			min-height: 95px;
			line-height: 1.5;
		}
		&__text {
			font-size: 16px;
			line-height: 1.625;
		}

}
