/* header
===============================================================================*/
header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.header {
	.row-flex();
	height: 130px;
	.justify-content(space-between);
}

.logo {
	margin-top: auto;
	margin-bottom: auto;
}
