/* menu
===============================================================================*/
nav {

}

.menu-burger {

}

.menu {
	.row-flex();
	margin-left: 0;
	margin-right: 0;
		&__item {
			&:not(:last-child) {
				margin-right: 53px;
			}
			&.active {
				.menu__link {
					&:after {
				    top: 20px;
				    background: @color-blue;
				    opacity: 1;
						transform: translateY(0px) !important;
						visibility: visible;
					}
				}
			}
		}
		&__link {
			font-family: @font-main-bold;
			color: @color-white;
			font-size: 16px;
			line-height: 1;
			display: inline-block;
			position: relative;
				&:after {
					position: absolute;
			    top: 20px;
			    left: 0;
			    width: 100%;
			    height: 2px;
			    background: rgba(256,256,256,1);
			    content: '';
			    opacity: 0;
					transform: translateY(10px);
					visibility: hidden;
				}
				&:hover {
					&:after {
						// transition: opacity 0.3s, transform 0.3s;
						transition: all .3s ease-out;
						opacity: 1;
						transform: translateY(0px);
						visibility: visible;
					}
				}
		}
}
