/* SECTION
================================================================================*/

.section {
	min-height: 790px;
	background: @color-white;
	padding-bottom: 60px;
		@media screen and (max-width: @break_lg){
			min-height: 768px;
		}
		&--top {
			background: linear-gradient(to bottom, @color-blue 0%,@color-blue-light 100%);
			height: 100vh;
			min-height: 0;
				.title {
					padding-top: 45vh;
					line-height: 1.4;
					@media screen and (max-width: @break_xs){
						padding-top: 44vh;
					}
				}
		}
		&--contacts {
			min-height: auto;
			padding-bottom: 0;
		}
		&--blue {
			background: @color-blue url(../images/bg.png) no-repeat 105% 150px;
			@media screen and (max-width: @break_lg){
				background-position: 480px 200px;
			}
			@media screen and (max-width: @break_sm){
				background-position: 360px 200px;
			}
			@media screen and (max-width: @break_xs){
				background: @color-blue;
			}
		}
}
